@import "../../variables", "../../placeholders";

.modal[class] {
  @extend %modal-overlay;

  .modalBody {
    width: 607px;
    height: 356px;
    background-image: url("../../../assets/images/difficulty-select.png");
    padding: 108px 92px;
    overflow: hidden;
    position: relative;

    h4 {
      color: #c0392b;
      text-shadow: 2px 3px #000;
    }

    .levelChoice {
      position: absolute;
      transition: top 0.15s;
    }

    ul {
      li {
        border: 3px solid transparent;
        padding: 5px;
        color: $yellow;
        cursor: pointer;

        &:hover {
          border-color: red;
          border-radius: 7px;
          box-shadow: 2px 2px 3px 1px #000;
        }
      }
    }
  }
}
