@import "../../variables";

.modal[class] {
  position: fixed;
  display: flex !important;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);

  .modalBody {
    width: 607px;
    height: 356px;
    background-image: url("../../../assets/images/difficulty-select.png");
    padding: 108px 92px;
    overflow: hidden;
    position: relative;

    h4 {
      color: #c0392b;
      text-shadow: 2px 3px #000;
    }

    .levelChoice {
      position: absolute;
      transition: top 0.15s;
    }

    ul {
      li {
        border: 3px solid transparent;
        padding: 5px;
        color: #f1c40f;
        cursor: pointer;

        &:hover {
          border-color: red;
          border-radius: 7px;
          box-shadow: 2px 2px 3px 1px #000;
        }
      }
    }
  }
}
