.board {
  width: 100%;
  min-height: 100vh;
  background-image: url("/../assets/images/game-bg.jpg");
  background-size: cover;
  background-position: bottom;

  display: grid;
  grid-template-rows: 90px 1fr;
}
