.deckContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .deck {
    background-image: url("../../../assets/images/deck-bg.png");
    width: 70%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 30px 12px;
    padding: 30px;
    margin: 80px 0;
  }
}
